*{
    padding:0;
    margin: 0;
}

body{
    font-family: 'Gabarito', sans-serif;
font-family: 'Young Serif', serif;
}
body{
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
     position: sticky;
     top: 0px;
     background-color: white;
     z-index:2;
    }



    .navbar__s1{

    display: flex;
   align-items:center;
    }  

    .navbar__s1 img{
        width: 45px;
        border: none;
        border-radius:60% ;
    }


.navbar__s2{
    display:flex;
    gap: 20px;
}

.globe__icon{
    display: flex;
    align-items: center;
    bottom: 2px;
    
}
.navbar__s3{
    display: flex;
    gap:20px;}
    

.navbar__signin{
    background-color:black;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}



.center{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 20px;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: 30px;}
    
 .desc__1, .desc__2,
 .desc__3, .desc__4, .desc__5{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
  .search{
    display: flex;
    
  }  

.searchbar{
     border: black solid 2px;
    border-radius:30px;
    width: 60%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    left:19% ;
    
}

.searchbar input{
    border: none;
    margin-left: 10px;


    
}
   

.searchbar button{
    background-color:#1FAC4B;
    font-size: 20px;
    padding: 10px;
    width: 85px;
    border: none;
    border-radius: 35px;
    color:black;
    position:absolute;
    right:2px;

    
      
    

    

}
    
.image{
    display: flex;
    justify-content: center;
    height: 600px;
    position: relative;
    
}

    
.image img{
flex-basis:80%;
flex-shrink: 1;
margin-top:5%;
    
    
}  

.image__desc1{
    color: white;
    position: absolute;
    bottom: 30px;
    right: 30%;
    

}

.image__desc2{
    border: solid white 1px;
    background-color: white;
    border-radius: 20px;
    color:black;
    width: 180px;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    

}


.ads{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    animation-name: zoom1;
    animation-duration: 0s;
    animation-delay: 5s;
    opacity:0;
    animation-fill-mode: forwards;

}

@keyframes zoom1 {
    0%{
        transform: scale(0);
        opacity:0;
    }
    
    100%{
        transform:scale(1);
       opacity:1;
}
}


/* location */
.location{
    display: flex;
    align-items: center;
    border: black solid 1px;
    width:150px;
    height: 20px;
    padding: 20px;
    padding-left: 5px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 10px;
    
    
}

.location-container{
    position: relative;
    left:10%;
    top:80px;
    align-items: center;

}


.location2{
    display: flex;
    align-items: center;
    border: black solid 1px;
    width: 80px;
    height:20px;
    padding: 20px;
    padding-left: 5px;
    border-radius: 10px;
    margin-top: 20px;
    gap: 10px;
    }
    .location2{
        display: flex;
        position: relative;
        left: 200px;
        bottom:85px ;
    }



.container{
    display: flex;
    justify-content: center;
    }
    
    
.image-heading {
    margin-top: 5%;
}   
    
    

.image-heading__one, .image-heading__two{
    margin-left:8%;
}


.image-section{
    margin: 10px;
    flex-basis: 20%;
    position: relative;}
     
.icon__L{

position: absolute;
right:0;
top:0;
    
    }
    
.image-section img{
    width: 100%;
    

}

.small__heading{
    margin-top: 10%;
    margin-left:8%;
}

.container-two{
    display: flex;
    justify-content: center;
    
}

.image-title{
    margin-top:10%;
}


   
.image-title__one, .image-title__two{
    margin-left: 8%;
}

.imginside__name{
    position: relative;
    left: 20px;
    bottom:20%;
    font-size: 20px;
    color: white;
    

/* long image 2 */
    
}
.main-image2{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.inside-image{
    position: absolute;
    right:50%;
    padding:1
}
.inside-image img{
    flex-basis: 40%;
}
.long-img img{
    width: 195%;
    height: 360px;
    position: relative;
    right:46%;
    
    

   
}
.image-content{
position: absolute;
top: 20%;
left:60%;


    
}

.image-content{
    text-align:center;
    
    
}



.image-content__2{
    background-color:black;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    margin-left: 35%;
    margin-top: 10%;

    
    
}

/* long image 3 */

.main-image3{
    margin-top: 10px;
    text-align: center;
    position: relative;
    right:10px;
    animation-name:zoom;
    animation-duration: 2s;
    animation-delay:5s;
    opacity:0;
     animation-fill-mode: forwards;}
    


    @keyframes zoom{
        0%{transform: scale(0);
            opacity: 0;}
        
            100%{transform: scale(1);
                opacity:1;  }
    }


.mainimage-3 img{
    width:86%;
    height: 240px;

}
.image3-content{
position:absolute;
top: 30px;
left: 130px;
text-align: left;


}

.image3-content__2{
    background-color: black;
    border: none;
    color: white;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    

}

.image-content__img{
    padding: 10px;
    position: absolute;
    right:96px;
    top:-10px;
}
.image-content__img img{
    width: 400px;
    height:240px;
}



/* 3 image container */
.image-title3{
    margin-top: 100px;
    position: relative;


    
    
}

.container-s1{
    display:flex;
    margin-top: 20px;
    
    
    
  }
.container-s{
    z-index:1;
    position: relative;
    margin-left:8%;
    
    }


.image-s1 img{
    width: 95%;
    height:auto ;
    border: none;
    border-radius: 10px;
}

.image-s1{
    position: relative;
}
.icon__L1{

    position: absolute;
    right:5%;
    top:0;
        
        }


.background img{
    width: 100%;
    height:120%;
    position:absolute;
    top: -30px;



    

}
.big-img{
    display: flex;
    margin-top: 100px;
}

.big-img img{
    flex-grow: 1;
    width: 100%;
    

}

/* table */


.table{
    margin-top: 50px;
    margin-left: 50px;
}

.bottom img{
    width: 45px;
     border: none;
    border-radius:60% ;
}
.bottom-container{
    position: relative;
    left: 100px;
     font-size: 15px;}

.bottom{
    position: absolute;
    top:10px;
}
.words{
    margin-left: 50px;
}


.words{
    margin-left:50px;
}

.table2{
    position:absolute;
    left: 50%;
    bottom:60%;
}
.table2 select{width:200px;
    height:30px;
    border-radius: 10px;

}
.top{
    position: absolute;
    left: 50%;
    bottom:410px;
}

/* unorderlist */

.unorder-list li{
list-style: none;
 margin: 20px;
 margin-left: 40px;
 margin-bottom: 20px;
}

.table3 select{
    width:500px;
    height: 30px;
     border-radius: 20px;
}



.block{
    display:none
}
















@media screen and ( max-width: 600px)
{
    .navbar__s2 ,.navbar__s3{
        display: none;
    }


}
@media screen and (max-width:600px)
{
    .searchbar{
        border: black solid 2px;
       width: 80%;
       height: 160px;
       align-items: start;
       justify-content: space-between;
       flex-direction: column;
       position: relative;
       left: 5%;
       font-size: 30px;
       
}
}

@media screen and (max-width:600px)
{ .searchbar button{
    width:100%;

    position:absolute;
    bottom: 20%;
}
    
}

@media screen and ( max-width:600px)
{   .place__holder{
   border-bottom: solid black 1px; 
   width: 100%;

}    }

@media screen and ( max-width:600px)
{  .ads{
    display:none;
}}

@media screen and ( max-width:1000px)
{  .main-image3{
    display:none;
}}

@media screen and ( max-width:600px)
{
    .inside-image{
        position: absolute;
        right: 0%;
        
         }.image-content{
        display: none;
    }
         
    
}
    
@media screen and ( max-width:800px)

{.image-s1 img{
    width: 400px;
    padding: 5px;
}

}

@media screen and ( max-width:800px)
{
.image-section img{ width:380px;
                    



}}

@media screen and ( max-width:800px){

.block{
    display:block ;
}}

@media screen and ( max-width:800px){
    .table, .bottom-container,.top { display:none;}
}